@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700');

* {
  font-family: 'Quicksand', sans-serif;
}

body{
  margin: 0;
  padding: 6rem;
  background-color: #EAEBF3;
}

#root{
  display: grid;
  place-items: center;
}

.card-app{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 16px;
  background: #EAEBF3;
  box-shadow:  12px 12px 24px #dcdde4,
              -12px -12px 24px #f8f9ff;
}

.divisor-container{
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  & hr{
    width: 15rem;
    height: .5rem;
    border: none;
    background-color: #dcdde4;
    border-radius: 6px;
  }
}

@media(max-width: 640px){

}
