.searcher-wp{
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.searcher-input{
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  max-width: 25rem;
  min-width: 18rem;
  transition: all ease-in-out .5s;

  &:hover, &:focus {
    box-shadow: 0 0 1em #00000013;
  }

  &:focus{
    outline: none;
    background-color: #f0eeee;
  }
}
